<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2pGKWRwQ5iNkoLvVVjDXdz10j7aSWzcI</string>
	<key>GCM_SENDER_ID</key>
	<string>744648380276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safrana.Airlines</string>
	<key>PROJECT_ID</key>
	<string>myproject-23408</string>
	<key>STORAGE_BUCKET</key>
	<string>myproject-23408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744648380276:ios:84ee5a7daf552478f72621</string>
	<key>DATABASE_URL</key>
	<string>https://myproject-23408.firebaseio.com</string>
</dict>
</plist>